<div class="services-container">
  <div class="service-section service-vfx" routerLink="/vfx">
    <div class="service-button">VFX</div>
  </div>
  <div class="service-section service-reels" routerLink="/reels">
    <div class="service-button">Reels Package</div>
  </div>
  <div class="service-section service-projects" routerLink="/projects">
    <div class="service-button">Projects</div>
  </div>
  <div class="service-section service-wedding" routerLink="/wedding">
    <div class="service-button">Wedding Photoshoot</div>
  </div>
</div>
