<div class="admin-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <button class="sidebar-button" routerLink="/admin/reels">Reels</button>
        <button class="sidebar-button" routerLink="/admin/vfx">VFX</button>
        <button class="sidebar-button" routerLink="/admin/projects">Projects</button>
        <button class="sidebar-button" routerLink="/admin/studio">Studio Photoshoot</button>
    </div>

    <!-- Main Content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
